[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
ipykernel = "*"
pandas = "*"
matplotlib = "*"
notebook = "*"
jupyterlab = "*"
altair = "*"
jupytext = "*"
jupyterlab-templates = "*"
itables = "*"
ap-altair-theme = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"

[scripts]
export_rmarkdown = "Rscript .export_rmarkdown.R"